<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM" verbose="2" parallel="classes" thread-count="5">


<test name="Cucumbertest">
        <classes>
            <class name="TestRunner.TestRunner"/>
        </classes>
    </test>
</suite>